body {
  margin: 0;
}

.gameboard {
  display: grid;
  background-color: rgba(0, 0, 0, 0.85);
}

.cell {
  border: 1px solid black;
  border-radius: 3px;
  background-color: black;
}

.cell.alive {
  background-color: white;
}
